.categories {
    padding: 0px;
    margin-top: 0em;
    margin-left: 1em;
    
}

.checkbox {
    color: black;
    padding: 0px;
    align-items: left;
    font-size: 0.02em;
    font-family: Arial, Helvetica, sans-serif;
}

.arrangeSearch {
    display: flexbox;
    flex-wrap: wrap;
    margin: 5px;
    text-align: left;
    background-color: rgb(201, 200, 200);
}


.result {
    display: flex;
    width: 25em;
    text-align: left;
    justify-content: left;
    text-indent: 1em;
    border-bottom: 1px grey ;
}

.result:hover {
    background-color: rgb(21, 143, 129);
    color: white;
}

.result:focus{
    background-color:   rgb(21, 143, 129);
    color: white;
}

.rangeSlider{
    width: 20em;
    margin-left: 1em;;
}
/* .arrangeSearch > h2 {
    display: inline;
}

.arrangeSearch > FormControlLabel {
    display: inline-flex;
} */

.row1 {
    display: flex;
}

.row2 {
    display: flex;
}
.result_column {
    
}

.columnN {
    flex:66.6%;
}

.image_column {
    padding-left: 2.5em;
    padding-top: 1.5em;
    position: relative;
    padding-right: 2.5em;
}

.image_resize {
    height: 17rem;
    width: 17rem;
}

.rest_description_column {
    padding-left: 0em;
    padding-top: 0em;
}