.categories {
    padding: 0px;
    margin-top: 0em;
    margin-left: 1em;
    
}

.checkbox {
    color: black;
    padding: 0px;
    align-items: left;
}

.arrangeSearch {
    display: flex;
    flex-wrap: nowrap;
    margin: 5px;
    text-align: center;
}