@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css");

.input-text-h2 {
    font-size: 2.2vw;
    color: black;
    padding-bottom: 0.3em;
}

.input-text-span {
    font-size: 1.1vw;
    color: black;
}

.result-text-h2 {
    font-size: 2.2vw;
    color: black;
}

.result-text-span {
    font-size: 1.1vw;
    color: black;
    padding-left: 0.6em;
}

.result-check-icon {
    color:green;
    font-size: 1.2vw;
}

.result-times-icon {
    color:red;
    font-size: 1.2vw;

}

.result-address {
    font-size: 1vw;
    color: black;
}

.result-text-p {
    font-size : 1.2vw;
}

.result-text-h5 {
    font-size: 1.6vw;
}

.result {
    height: 360px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(219, 219, 219);
}
.result_heading {
    position: fixed;
    width: 23vw;
    font-size: 1.1vw;
    text-align: left;
    justify-content: left;
    color: black;
    background-color: rgb(219, 219, 219);
}

.result-button{
    width: 23vw;
    font-size: 1.1vw;
    text-align: left;
    justify-content: left;
    color:black;
    background-color: rgb(219, 219, 219);
    border-bottom: 1px solid rgb(139, 139, 139);

}

.result-button:hover {
    background-color: #4db6ac;
    color: white;
}

.result-button:focus{
    background-color:  #4db6ac;
    color: white;
    border: none;
}
